@{
    ViewData["Title"] = "Home Admin";
    Layout = "~/Views/Shared/_LayoutLeaders.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>DashBoard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Home</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Material Summaries</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-book"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.materialsummariescount</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Faculty Members</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.facultymembersCount</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-6">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">MemberShip</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.members</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <!-- News & Updates Traffic -->
                <div class="card">
                    <div class="card-body pb-4">
                        <h5 class="card-title">News &amp; Messages </h5>
                        <div class="news">
                            @if (ViewBag.Latestnotification != null && ViewBag.Latestnotification.Count > 0)
                            {
                                foreach (var notification in ViewBag.Latestnotification)
                                {
                                    <h6><i class="bi bi-exclamation-circle text-warning"></i><span> 
                                           </span> @notification.Username</h6>
                                    <small class="text-muted"> @notification.Message</small><br>
                                    <hr>
                                }
                            }
                            else
                            {
                                <li class="dropdown-item text-center text-muted">You have no new notifications.</li>
                            }


                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
