@using CTC.ViewModels.Academic
@model IEnumerable<MaterialSummaryViewModel>
@{
    ViewData["Title"] = "Material Summaries";
    Layout = "~/Views/Shared/_LayoutLeaders.cshtml";
}
<h2>@ViewData["Title"]</h2>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Material Summaries</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Home" asp-controller="Academic">Back</a></li>
                <li class="breadcrumb-item active">Table Material</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Join Requests</h5>
                        <p>The following students have requested to join the CTC. Please review the requests and take action as needed.</p>

                        <!-- Make table responsive -->
                        <div class="table-responsive">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Material Name</th>
                                        <th>Description</th>
                                        <th>Department</th>
                                        <th>Upload Date</th>
                                        <th>Summary File</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var summary in Model)
                                    {
                                        <tr>
                                            <td>@summary.Id</td>
                                            <td>@summary.MaterialName</td>
                                            <td>@summary.MaterialDescription</td>
                                            <td>@summary.MaterialsDepartmentList.FirstOrDefault(d => d.Value == ((int)summary.materialsDepartment).ToString())?.Text</td>
                                            <td>@summary.UploadDate.ToString("yyyy-MM-dd")</td>
                                            <td>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div> <!-- End responsive table -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>