@using System.ComponentModel.DataAnnotations
@using CTC.ViewModels.Academic
@model IEnumerable<FacultymembersViewModel>
@{
    ViewData["Title"] = "Faculty Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Services Section -->
<section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Faculty Members</h2>
        <p>
            Here are some the services offered by the Computing Technology Club (CTC):
        </p>
    </div><!-- End Section Title -->

    <div class="container">


        <form asp-action="Facultymembers" asp-controller="Home" method="get" class="mb-4">
            <div class="form-group">
                <select class="form-select" id="departmentFilter" name="selectedDepartment" aria-label="Default select example">
                    <option value="">All Departments</option>
                    @foreach (var department in Enum.GetValues(typeof(CTC.Repository.Enum.Department)))
                    {
                        <option value="@department.ToString()" asp-action="SummaryMaterial" asp-controller="Home" asp-route-selectedDepartment="@department.ToString()">@department</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Filter</button>
        </form>
        <div class="row g-5">
            @foreach (var member in Model)
            {
                var displayName = member.department.GetType()
         .GetMember(member.department.ToString())
         .FirstOrDefault()?
         .GetCustomAttributes(false)
         .OfType<DisplayAttribute>()
         .FirstOrDefault()?
         .Name ?? member.department.ToString();


        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
                <i class="bi bi icon"></i>
                <div>
                    <h3>@member.prefx@member.Name</h3>
                    <p></p>
                    <p>@displayName</p>

                    <a href="mailto:@member.Email" class="read-more stretched-link">
                        @member.Email <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div><!-- End Service Item -->

    }



        </div>

    </div>

</section><!-- /Services Section -->
